/* Hex Color Code scheme provided */
:root {
    --aragorn: #445877;
    --frodo: #92ccce;
    --isengard: #31343d;
    --mordor: #1c1d21;
    --gandalf: #eeeef7;
}

/* set content highlight color and background */
/* ::selection is what is selected (highlighted) by the user*/
/*::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
}*/

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%; /* 10/16 = 0.625*/
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--mordor);
    background-color: var(--gandalf);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.75rem 0;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}
  
h2 {
    font-size: 3.5rem;
}
  
h3 {
    font-size: 3rem;
}
  
h4 {
    font-size: 2.5rem;
}
  
h5 {
    font-size: 2rem;
}
  
h6 {
    font-size: 1.5rem;
}
  
p {
    margin-bottom: 1rem;
}

header {
    width: 100vw;
}

header .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--isengard);
}

header h1.title {
    justify-content: flex-start;
    background-color: rgba(146, 204, 206, 0.9);
    color: var(--isengard);
    border-radius: 2rem 2rem 0rem 0rem;
    padding: 0rem 1.5rem 0.4rem 1.5rem;
    margin-left: 0.7rem;

}

header .navLinks {
    display: flex;
    margin-right: 6rem;
    margin-left: 2rem;
}


header a {
    display: flex;
    color: var(--frodo);
    text-decoration: none;
    border-bottom: .25rem solid var(--frodo);
    padding: .2rem .625rem;
    margin-right: .6rem;
}

a:hover {
    text-shadow: 0rem 0rem .15rem var(--gandalf);
    transition: all 0.2s ease-in-out;
}

.hero {
    position: relative;
    height: 28rem;
    width: 100%; 
    background-image: url("Images/Glacier-National-Park.png");
    background-size: cover;
    background-position: center;
    border-bottom: .2rem solid var(--isengard);
}

.backgroundColor {
    position: absolute;
    width: 100%;
    height: 28rem;
    background-color: var(--aragorn);
    opacity: 0.15;
    z-index: 0;
}

.hero h4 {
    position: absolute;
    bottom: 3rem;
    right: 8rem;
    z-index: 0;
    text-shadow: 0rem 0rem .9rem var(--mordor);
    color: var(--gandalf);
    border-radius: .75rem;
    padding: .5rem 1rem .625rem 1rem;
}

.mainContainer {
    width: inherit;
    margin: 4rem 7rem;
    display: flex;
    flex-direction: column;
}

.divContainer {
    width: inherit;
    margin-bottom: 4rem;
    display: flex;
    color: var(--aragorn);
}

.sideBarInfo {
    width: 20%;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-right: .3rem solid var(--aragorn);
}

.sideBarInfo p {
    line-height: 6rem;
    font-size: 5rem;
    font-weight: bold;
    margin: 0 3rem;
    display: flex;
    justify-content: flex-end;
}

.sideBarInfo img {
    width: auto;
    margin: 1rem 3rem;
    border-radius: 10%
}

#aboutMeContent {
    width: 80%;
}

#aboutMeContent p {
    color: var(--aragorn);
    margin-left: 4rem;
}

#workContent {
    width: 80%;
}

.mainProjectCard {
    width: 95.3%;
    height: 28rem;
    border: .4rem solid var(--frodo);
    opacity: 0.5;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.mainWorkTag {
    margin: 0;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem;
    color: var(--isengard);
    background-color: rgba(146, 204, 206, 0.7);
    position: relative;
    bottom: 9.5rem;
}

.otherProjects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 4rem;
}

.smallerCards { 
    width: 47.25%;
    height: 15.8rem;
    border: .4rem solid var(--frodo);
    opacity: 0.5;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.workTag {
    margin: 0;
    line-height: 1.5rem;
    color: var(--isengard);
    background-color: rgba(146, 204, 206, 0.7);
    position: relative;
    bottom: 8rem;
}

.workTag h4 {
    margin: 0rem auto;
    padding: 0.5rem 0.5rem;
}

.workTag p {
    padding: 0rem 0.5rem;
}

.mainProjectCard:hover, .smallerCards:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
} 

#contactMeContent {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
    margin-top: 2rem;
    margin-left: 4rem;
}

#contactNav {
    margin: 0;
}

#contactMeContent a { 
    color: var(--mordor);
    text-decoration: none;
    border-bottom: .25rem solid var(--aragorn);
    margin: 0 5rem;
}


@media screen and ( max-width: 1437px) {
    #contactMeContent a {
        font-size: 2rem;
        margin: 0 3rem;
    }
}

@media screen and ( max-width: 1298px) {
    #contactMeContent a {
        font-size: 2rem;
        margin: 0 2rem;
    }
}

@media screen and ( max-width: 1166px) {
    #contactMeContent a {
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}

@media screen and ( max-width: 767px) {
    .sideBarInfo p {
        line-height: 4rem;
        font-size: 4rem;
    }

    #contactMeContent a {
        font-size: 1.5rem;
        margin: 0 0rem;
    }
}

@media screen and ( max-width: 598px) {
    .mainContainer {
        margin: 2rem 0rem;
        justify-content: center;
        align-items: center;
    }

    header .headerTop {
        flex-direction: column;
    }

    header .navLinks {
        margin: 0 auto;
    }
   
    .hero h4 {
        margin-left: 0rem;
        right: 1rem;
    }
    
    .divContainer {
        flex-direction: column;
    }

    .sideBarInfo {
        border-right: 0rem;
    }

    .sideBarInfo p {
        display: none;
    }

    .sideBarInfo img {
        margin-right: -18rem;
        margin-bottom: 3rem;
    }

    .mainProjectCard {
        width: 97.5%;
    }

    .smallerCards {
        width: 100%;
    }

    #contactNav {
        margin-right: 5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
            
    #contactMeContent a {
        font-size: 2rem;
    }
}