/* Hex Color Code scheme provided */
:root {
    --aragorn: #445877;
    --frodo: #92ccce;
    --isengard: #31343d;
    --mordor: #1c1d21;
    --gandalf: #eeeef7;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%; /* 10/16 = 0.625*/
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--mordor);
    background-color: var(--gandalf);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.75rem 0;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}
  
h2 {
    font-size: 3.5rem;
}
  
h3 {
    font-size: 3rem;
}
  
h4 {
    font-size: 2rem;
}
  
h5 {
    font-size: 1.5rem;
}
  
h6 {
    font-size: 1.25rem;
}
  
p {
    margin-bottom: 1rem;
}

/* sets the header container to the width of the devices viewport */
/* making container flex to pass on flexing properities to children */
.headerTop {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--isengard);
}

/* title card in header top set to flex start, with a bit of opacity, and border radius properties */
.title {
    background-color: rgba(146, 204, 206, 0.9);
    color: var(--isengard);
    border-radius: 2rem 2rem 0rem 0rem;
    padding: 0rem 1.5rem 0.4rem 1.5rem;
}

/* setting container holding nav links to flex to get links to lay in a row */
.navLinks {
    margin-bottom: 1rem;
}

/* styling for the link words. Got rid of default underlines and styled my own */
header a {
    color: var(--frodo);
    text-decoration: none;
    border-bottom: .25rem solid var(--frodo);
    padding: .2rem .625rem;
    margin-right: .6rem;
}

/* using hover pseudo code to get the pointer to change. Adding white shadow in a smooth transition when hovered on */
header a:hover {
    text-shadow: 0rem 0rem .15rem var(--gandalf);
    transition: all 0.2s ease-in-out;
}

/* properties for hero image. Set the container to relative position so the children could be set to absolute */
.hero {
    position: relative;
    height: 28rem;
    width: 100vw; 
    background-image: url("/assets/images/Glacier-Park.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: .2rem solid var(--isengard);
}

/* colored filter overlay set over the hero image with to a low opacity to make the picture colors more homogenous with color themes */
.backgroundColor {
    background-color: var(--aragorn);
    opacity: 0.15;
}

/* styling subtitle text with a position of absolute text shadow */
.hero h4 {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-shadow: 0rem 0rem .9rem var(--mordor);
    color: var(--gandalf);
    padding: 0rem 1rem .625rem 1rem;
}

/* main container properties setting size and flex */
.mainContainer {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* styling for the containers holding about me, work, and contact me */
/* setting flex properties to pass on to children */
.divContainer {
    margin-bottom: 4rem;
    color: var(--aragorn);
}

/* setting properties for each side container at 20% of the view port */
/* setting flex properties to pass on to children */
/* creating border between side section and content section */
.sideBarInfo {
    height: auto;
    margin: 0;
}

/* styling for the text in the side bar info section */
.sideBarInfo p {
    line-height: 0rem;
    font-size: 4rem;
    font-weight: bold;
    margin: 3rem 0;
    text-align: center;
}

/* styling for my image */
#aboutMeContent img {
    float: left;
    height: auto;
    border-radius: 10%;
    margin-right: 1rem;
}

/* styling for text in about me container */
#aboutMeContent p {
    color: var(--aragorn);
}

/* setting container width for work */
#workContent {
    width: 90vw;
    margin: 0 auto;
}

/* main work card styling properties flexed. Setting opacity at 50% until it's hovered over */
.mainProjectCard {
    width: 100%;
    height: 28rem;
    border: .4rem solid var(--frodo);
    opacity: 0.5;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
}

/* properties for the title tag in the main work card */
.mainWorkTag {
    width: 40%;
    margin: 0;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem;
    color: var(--isengard);
    background-color: rgba(146, 204, 206, 0.7);
    position: relative;
    bottom: 10rem;
}

/* properties for the container holding the other projects flexed */
.otherProjects {
    width: inherit;
    margin: 0 auto;
}

/* setting width of smaller card containers, opacity, and flex properties */
.smallerCards { 
    height: 15.8rem;
    border: .4rem solid var(--frodo);
    opacity: 0.5;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

/* setting properties for the tag container */
.workTag {
    margin: 0;
    padding: 0.5rem 0.5rem;
    line-height: 1.5rem;
    color: var(--isengard);
    background-color: rgba(146, 204, 206, 0.7);
    position: relative;
    bottom: 8rem;
}

/* styling for the text in the work tag containers for the smaller cards */
.workTag h4 {
    margin: 0rem auto;
}

/* using a hover property to bring the opacity of the main work card and the samller cards back to 100% with an ease-in-out transition */
.mainProjectCard:hover, .smallerCards:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
} 


/* styling properties for contact me container setting width and flex */
#contactNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    align-items: center;
    margin-top: 4rem;
}

/* styling properties for the links in the contact me section */
#contactMeContent a { 
    color: var(--mordor);
    text-decoration: none;
    border-bottom: .25rem solid var(--aragorn);
}

@media screen and ( min-width: 550px) {
    .headerTop {
        flex-direction: row;
    }

    .title {
        margin: 0.7rem;
    }

    .navLinks {
        margin-right: 2rem;
    }
}

@media screen and ( min-width: 768px) {
    .divContainer {
        width: 100%;
        display: flex;
    }

    .sideBarInfo {
        width: 20%;
        border-right: .3rem solid var(--aragorn);
        display: flex;
    }

    .sideBarInfo p {
        line-height: 4rem;
        font-size: 4rem;
    }

    #aboutMeContent {
        width: 80%;
    }

    #aboutMeContent img {
        float: left;
        height: auto;
        border-radius: 10%;
       margin: 3rem 1rem 0 4rem;
    }
    
    #aboutMeContent p {
        margin-top: 3rem;
        margin-left: 4rem;
    }

    #workContent {
        width: 75%;
        margin-left: 4rem;
    }

    .otherProjects {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .smallerCards {
        width: 50%;
        margin-left: 0rem;
    }

    #contactMe{
        width: 20%;
        margin-left: 0rem;
        padding-right: 0rem;
    }

    #contactMeContent {
        width: 80%;
        display: flex;
    }

    #contactNav {
        margin: 0 auto;
        flex-direction: row;
    }

    #contactMeContent a { 
        margin: 2rem;
    }
}

@media screen and ( min-width: 1024px) {
    .sideBarInfo {
        width: 20%;
    }

    #aboutMeContent {
        width: 80%;
    }

    #workContent {
        width: 75%;
    }

    #contactMeContent {
        width: 80%;
    }
}

@media screen and ( min-width: 1250px) {
    .sideBarInfo {
        max-width: 20vw; 
        font-size: 3rem;
        margin: 0;
    }

    #aboutMeContent p {
        margin: 3rem auto 0 4rem;
    }

    #workContent {
        max-width: 1000px;
        margin: 0 auto;
    }

    .mainProjectCard {
        max-width: 1000px;
    }

    .otherProjects {
        max-width: 1000px;
    }
}