/* Hex Color Code scheme provided */
:root {
    --aragorn: #445877;
    --frodo: #92ccce;
    --isengard: #31343d;
    --mordor: #1c1d21;
    --gandalf: #eeeef7;
}

/* set content highlight color and background */
/* ::selection is what is selected (highlighted) by the user*/
/*::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
}*/

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%; /* 10/16 = 0.625*/
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--mordor);
    background-color: var(--gandalf);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.75rem 0;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}
  
h2 {
    font-size: 3.5rem;
}
  
h3 {
    font-size: 3rem;
}
  
h4 {
    font-size: 2.5rem;
}
  
h5 {
    font-size: 2rem;
}
  
h6 {
    font-size: 1.5rem;
}
  
p {
    margin-bottom: 1rem;
}

header {
    width: 100%;
    justify-content: center;
}

header .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--isengard);
}

header h1.title {
    justify-content: flex-start;
    background-color: rgba(146, 204, 206, 0.9);
    color: var(--isengard);
    border-radius: 2rem 2rem 0rem 0rem;
    padding: 0rem 1.5rem 0.4rem 1.5rem;
    margin-left: 0.7rem;

}

header .navLinks {
    display: flex;
    margin-right: 6rem;
    margin-left: 2rem;
}

header li {
    list-style: none;
    margin-right: .6rem;
}

header a {
    color: var(--frodo);
    text-decoration: none;
    border-bottom: .25rem solid var(--frodo);
    padding: .2rem .625rem;
    
}

header a:hover {
    text-shadow: 0rem 0rem .15rem var(--gandalf);
    transition: all 0.2s ease-in-out;
}

.hero {
    position: relative;
    height: 28rem;
    width: 100%; 
    background-image: url("/images/Glacier-National-Park.png");
    background-size: cover;
    background-position: center;
    border-bottom: .4rem solid var(--isengard);
}

.hero .backgroundColor {
    position: absolute;
    width: 100%;
    height: 28rem;
    background-color: var(--aragorn);
    opacity: 0.15;
    z-index: 0;
}

h4 {
    position: absolute;
    bottom: 3rem;
    right: 8rem;
    z-index: 0;
    text-shadow: 0rem 0rem .9rem var(--mordor);
    color: var(--gandalf);
    border-radius: .75rem;
    padding: .5rem 1rem .625rem 1rem;
}

.mainContainer {
    width: inherit;
    margin: 2.5rem 0rem 4rem 0rem;
    display: flex;
}

.sideBar {
    width: 25%;
    display: flex;
    flex-direction: column;
    color: var(--aragorn);
    font-size: 4rem;
    font-weight: bold;
    margin-right: 2rem;
    
}

.sideBarInfo {
    width: 100%;
    margin-bottom: 40rem;
    
}

.sideBarInfo p {
    display: flex;
    justify-content: flex-end;
    line-height: 3rem;
    margin-top: 1rem;
}

.content {
    width: 75%;
    margin-right: 7rem;
}

#aboutMe {
    width: 100%;
    border-left: .3rem solid var(--aragorn);
}

#aboutMe p {
    padding-left: 4rem;
}

#work {
    width: 100%;
    border-left: .3rem solid var(--aragorn);
}

#work .mainProject {
    width: 94.6%;
    height: 20.8rem;
    border: .4rem solid var(--frodo);
    margin-top: 4rem;
    margin-left: 4rem;
    /* position: relative; */
}

.workTag {
    margin: 0;
    display: inline-block;
    color: var(--isengard);
    background-color: var(--frodo);
    position: relative;
    bottom: 11rem;
}

/*.workTag h4 {
    color: var(--isengard);
    position: relative;
    bottom: -1.5rem;
    left: -1rem;
}*/

#work .otherProjects {

}

#contactMe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: .3rem solid var(--aragorn);
    margin-top: 4rem;
}

/* #contactMe a { 
    color: var(--frodo);
    text-decoration: none;
    border-bottom: .25rem solid var(--frodo);
    padding: .2rem .625rem;
    
}*/




    


